:root {
  --color-gray-50: var(--color-zinc-50);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-950: var(--color-zinc-950);

  --color-accent-50: var(--color-blue-50);
  --color-accent-100: var(--color-blue-100);
  --color-accent-200: var(--color-blue-200);
  --color-accent-300: var(--color-blue-300);
  --color-accent-400: var(--color-blue-400);
  --color-accent-500: var(--color-blue-500);
  --color-accent-600: var(--color-blue-600);
  --color-accent-700: var(--color-blue-700);
  --color-accent-800: var(--color-blue-800);
  --color-accent-900: var(--color-blue-900);
  --color-accent-950: var(--color-blue-950);

  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);
  --color-success-950: var(--color-green-950);

  --color-critical-50: var(--color-red-50);
  --color-critical-100: var(--color-red-100);
  --color-critical-200: var(--color-red-200);
  --color-critical-300: var(--color-red-300);
  --color-critical-400: var(--color-red-400);
  --color-critical-500: var(--color-red-500);
  --color-critical-600: var(--color-red-600);
  --color-critical-700: var(--color-red-700);
  --color-critical-800: var(--color-red-800);
  --color-critical-900: var(--color-red-900);
  --color-critical-950: var(--color-red-950);

  --color-warning-50: var(--color-yellow-50);
  --color-warning-100: var(--color-yellow-100);
  --color-warning-200: var(--color-yellow-200);
  --color-warning-300: var(--color-yellow-300);
  --color-warning-400: var(--color-yellow-400);
  --color-warning-500: var(--color-yellow-500);
  --color-warning-600: var(--color-yellow-600);
  --color-warning-700: var(--color-yellow-700);
  --color-warning-800: var(--color-yellow-800);
  --color-warning-900: var(--color-yellow-900);
  --color-warning-950: var(--color-yellow-950);
}

:root {
  --color-transparent: transparent;

  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-blue-950: #172554;

  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;

  --color-yellow-50: #fefce8;
  --color-yellow-100: #fef9c3;
  --color-yellow-200: #fef08a;
  --color-yellow-300: #fde047;
  --color-yellow-400: #facc15;
  --color-yellow-500: #eab308;
  --color-yellow-600: #ca8a04;
  --color-yellow-700: #a16207;
  --color-yellow-800: #854d0e;
  --color-yellow-900: #713f12;
  --color-yellow-950: #422006;

  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;
  --color-green-950: #052e16;

  --color-white: #fff;
  --color-white-A1: rgba(255, 255, 255, 0.05);
  --color-white-A2: rgba(255, 255, 255, 0.1);
  --color-white-A3: rgba(255, 255, 255, 0.15);
  --color-white-A4: rgba(255, 255, 255, 0.2);
  --color-white-A5: rgba(255, 255, 255, 0.3);
  --color-white-A6: rgba(255, 255, 255, 0.4);
  --color-white-A7: rgba(255, 255, 255, 0.5);
  --color-white-A8: rgba(255, 255, 255, 0.6);
  --color-white-A9: rgba(255, 255, 255, 0.7);
  --color-white-A10: rgba(255, 255, 255, 0.8);
  --color-white-A11: rgba(255, 255, 255, 0.9);
  --color-white-A12: rgba(255, 255, 255, 0.95);

  --color-black: #000;
  --color-black-A1: rgba(0, 0, 0, 0.05);
  --color-black-A2: rgba(0, 0, 0, 0.1);
  --color-black-A3: rgba(0, 0, 0, 0.15);
  --color-black-A4: rgba(0, 0, 0, 0.2);
  --color-black-A5: rgba(0, 0, 0, 0.3);
  --color-black-A6: rgba(0, 0, 0, 0.4);
  --color-black-A7: rgba(0, 0, 0, 0.5);
  --color-black-A8: rgba(0, 0, 0, 0.6);
  --color-black-A9: rgba(0, 0, 0, 0.7);
  --color-black-A10: rgba(0, 0, 0, 0.8);
  --color-black-A11: rgba(0, 0, 0, 0.9);
  --color-black-A12: rgba(0, 0, 0, 0.95);
}
