.TextLink {
  color: var(--color-gray-950);
  text-decoration: underline;
  text-decoration-color: var(--color-gray-400);
}

.TextLink:hover {
  text-decoration-color: var(--color-gray-950);
}

[data-theme='dark'] .TextLink {
  color: var(--color-white);
  text-decoration-color: var(--color-white-A7);
}

[data-theme='dark'] .TextLink:hover {
  text-decoration-color: var(--color-white);
}
