:root {
  --text-size-xs: 0.75rem; /* 12px */
  --text-size-sm: 0.875rem; /* 14px */
  --text-size-base: 1rem; /* 16px */
  --text-size-lg: 1.125rem; /* 18px */
  --text-size-xl: 1.25rem; /* 20px */
  --text-size-2xl: 1.5rem; /* 24px */
  --text-size-3xl: 1.875rem; /* 30px */
  --text-size-4xl: 2.25rem; /* 36px */
  --text-size-5xl: 3rem; /* 48px */
  --text-size-6xl: 3.75rem; /* 60px */
  --text-size-7xl: 4.5rem; /* 72px */
  --text-size-8xl: 6rem; /* 96px */
  --text-size-9xl: 8rem; /* 128px */

  --text-lineHeight-xs: 1rem; /* 16px */
  --text-lineHeight-sm: 1.25rem; /* 20px */
  --text-lineHeight-base: 1.5rem; /* 24px */
  --text-lineHeight-lg: 1.75rem; /* 28px */
  --text-lineHeight-xl: 1.75rem; /* 28px */
  --text-lineHeight-2xl: 2rem; /* 32px */
  --text-lineHeight-3xl: 2.25rem; /* 36px */
  --text-lineHeight-4xl: 2.5rem; /* 40px */
  --text-lineHeight-5xl: 1;
  --text-lineHeight-6xl: 1;
  --text-lineHeight-7xl: 1;
  --text-lineHeight-8xl: 1;
  --text-lineHeight-9xl: 1;

  --text-weight-normal: 400;
  --text-weight-medium: 500;
  --text-weight-semibold: 600;
  --text-weight-bold: 700;
}
