.WorkspaceUrlPrefix {
  font-size: var(--text-size-sm);
  line-height: 1;
  position: absolute;
  color: var(--color-gray-400);
  top: 43px;
  left: 12px;
  pointer-events: none;
  user-select: none;
}

.InputRoot .WorkspaceUrlInput {
  padding-left: 82px;
}
