/* position */
.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

/* translateX */
.translateX-full {
  transform: translateX(100%);
}

.translateX-1\/2 {
  transform: translateX(50%);
}

.translateXNeg-1\/2 {
  transform: translateX(-50%);
}

.translateX-1\/3 {
  transform: translateX(33%);
}

.translateXNeg-1\/3 {
  transform: translateX(-33%);
}

.translateX-2\/3 {
  transform: translateX(66%);
}

.translateXNeg-2\/3 {
  transform: translateX(-66%);
}

.translateX-1\/4 {
  transform: translateX(25%);
}

.translateXNeg-1\/4 {
  transform: translateX(-25%);
}

.translateX-2\/4 {
  transform: translateX(50%);
}

.translateXNeg-2\/4 {
  transform: translateX(-50%);
}

.translateX-3\/4 {
  transform: translateX(75%);
}

.translateXNeg-3\/4 {
  transform: translateX(-75%);
}

/* translateY */
.translateY-full {
  transform: translateY(100%);
}

.translateY-1\/2 {
  transform: translateY(50%);
}

.translateYNeg-1\/2 {
  transform: translateY(-50%);
}

.translateY-1\/3 {
  transform: translateY(33%);
}

.translateYNeg-1\/3 {
  transform: translateY(-33%);
}

.translateY-2\/3 {
  transform: translateY(66%);
}

.translateYNeg-2\/3 {
  transform: translateY(-66%);
}

.translateY-1\/4 {
  transform: translateY(25%);
}

.translateYNeg-1\/4 {
  transform: translateY(-25%);
}

.translateY-2\/4 {
  transform: translateY(50%);
}

.translateYNeg-2\/4 {
  transform: translateY(-50%);
}

.translateY-3\/4 {
  transform: translateY(75%);
}

.translateYNeg-3\/4 {
  transform: translateY(-75%);
}

/* top */
.top-1 {
  top: var(--spacing-1);
}

.top-2 {
  top: var(--spacing-2);
}

.top-3 {
  top: var(--spacing-3);
}

.top-4 {
  top: var(--spacing-4);
}

.top-5 {
  top: var(--spacing-5);
}

.top-6 {
  top: var(--spacing-6);
}

.top-7 {
  top: var(--spacing-7);
}

.top-8 {
  top: var(--spacing-8);
}

.top-9 {
  top: var(--spacing-9);
}

/* topNegative */
.top--1 {
  top: calc(var(--spacing-1) * -1);
}

.top--2 {
  top: calc(var(--spacing-2) * -1);
}

.top--3 {
  top: calc(var(--spacing-3) * -1);
}

.top--4 {
  top: calc(var(--spacing-4) * -1);
}

.top--5 {
  top: calc(var(--spacing-5) * -1);
}

.top--6 {
  top: calc(var(--spacing-6) * -1);
}

.top--7 {
  top: calc(var(--spacing-7) * -1);
}

.top--8 {
  top: calc(var(--spacing-8) * -1);
}

.top--9 {
  top: calc(var(--spacing-9) * -1);
}

.top-1\/2 {
  top: 50%;
}

/* right */
.right-1 {
  right: var(--spacing-1);
}

.right-2 {
  right: var(--spacing-2);
}

.right-3 {
  right: var(--spacing-3);
}

.right-4 {
  right: var(--spacing-4);
}

.right-5 {
  right: var(--spacing-5);
}

.right-6 {
  right: var(--spacing-6);
}

.right-7 {
  right: var(--spacing-7);
}

.right-8 {
  right: var(--spacing-8);
}

.right-9 {
  right: var(--spacing-9);
}

.right-1\/2 {
  right: 50%;
}

/* bottom */
.bottom-1 {
  bottom: var(--spacing-1);
}

.bottom-2 {
  bottom: var(--spacing-2);
}

.bottom-3 {
  bottom: var(--spacing-3);
}

.bottom-4 {
  bottom: var(--spacing-4);
}

.bottom-5 {
  bottom: var(--spacing-5);
}

.bottom-6 {
  bottom: var(--spacing-6);
}

.bottom-7 {
  bottom: var(--spacing-7);
}

.bottom-8 {
  bottom: var(--spacing-8);
}

.bottom-9 {
  bottom: var(--spacing-9);
}

.bottom-1\/2 {
  bottom: 50%;
}

/* left */
.left-1 {
  left: var(--spacing-1);
}

.left-2 {
  left: var(--spacing-2);
}

.left-3 {
  left: var(--spacing-3);
}

.left-4 {
  left: var(--spacing-4);
}

.left-5 {
  left: var(--spacing-5);
}

.left-6 {
  left: var(--spacing-6);
}

.left-7 {
  left: var(--spacing-7);
}

.left-8 {
  left: var(--spacing-8);
}

.left-9 {
  left: var(--spacing-9);
}

.left-1\/2 {
  left: 50%;
}
